<div class="row" ng-app="app.dailymodel">
	<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0"
			data-widget-editbutton="true" style="margin:0px;">
			<header>
				<span class="widget-icon"><i class="fa fa-table"></i> </span>
				<h2>功能按钮</h2>
			</header>
			<div class="form-actions text-left" style="padding:10px;">
				<button type="button" class="btn btn-primary" ng-click="vm.addData()">
					新增</button>
				<button type="button" class="btn btn-default btn-success" ng-click="vm.saveData()">
					保存</button>
			</div>
		</div>
		<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2"
			data-widget-colorbutton="false" data-widget-editbutton="false"
			style="margin:0px;">
			<header>
				<span class="widget-icon"><i class="fa fa-table"></i> </span>
				<h2>查询条件</h2>
			</header>
			<div style="padding:10px;">
				<form name="aneKpiQueryForm" ng-submit="vm.queryDataByPage()">
					<div class="dataTables_wrapper form-inline">
						<div class="row">
							<div class="col-sm-1 text-right">
								<label style="margin-top:6px;">模块名称：</label>
							</div>
							<div class="col-sm-2">
								<input id="mdlNm" class="form-control"
									ng-model="vm.Query.mdlNm">
							</div>
							<div class="col-sm-1 text-right">
								<label style="margin-top:6px;">展示顺序：</label>
							</div>
							<div class="col-sm-2">
								<input id="showSeqno" class="form-control"
									ng-model="vm.Query.showSeqno">
							</div>
							<div class="col-sm-1 text-right">
								<button type="submit" class="btn btn-warning" ng-click="vm.queryDataByPage()">查询</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3"
			data-widget-colorbutton="false" data-widget-editbutton="false"
			style="margin:0px;">
			<header>
				<span class="widget-icon"><i class="fa fa-table"></i> </span>
				<h2>详细信息</h2>
			</header>
			<div style="padding:10px 10px 20px 10px;">
				<div class="dataTables_wrapper form-inline">
					<form name="codeEditForm" novalidate>
						<div class="row">
						    <div class="col-sm-1 text-right">
								<label style="margin-top:6px;">模块名称:</label>
							</div>
							<div class="col-sm-2">
								<input id="mdlNmText" name="mdlNmText"
									class="form-control is-edit" ng-model="vm.data.mdlNm"
									required>
							</div>
							<div class="col-sm-1 text-right">
								<label style="margin-top:6px;">展示顺序:</label>
							</div>
							<div class="col-sm-2">
								<input id="showSeqnoText" name="showSeqnoText"
									class="form-control is-edit" ng-model="vm.data.showSeqno"
									required>
							</div>
                           <div class="col-sm-1 text-right"><label style="margin-top:6px;">上级模块：</label></div>	                  
	                    	<div class="col-sm-2">
                        	<select id="suprMdlIdText" class="form-control is-edit" style="width:99%;"
                        		ng-model="vm.data.suprMdlId" ng-options="a.value as a.label for a in vm.parentModel">    
                        		<option value="">无</option>            
                        	</select>
                            </div>			
					</form>
				</div>
			</div>
		</div>

		<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-4"
			data-widget-colorbutton="false" data-widget-editbutton="false"
			style="margin:0px;">
			<header>
				<span class="widget-icon"><i class="fa fa-table"></i> </span>
				<h2>数据列表</h2>
			</header>
			<div class="widget-body no-padding" style="margin:0px;">
				<table
					class="table table-striped table-bordered table-hover dataTable no-footer">
					<thead>
						<tr>
							<th>模块编号</th>
							<th>模块名称</th>
							<th>展示顺序</th>
							<th>上级模块</th>
							<th>创建人</th>
							<th>创建时间</th>
							<th>修改人</th>
							<th>修改时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="data in vm.result"
							ng-click="vm.chooseRow(data)">
							<td>{{data.mdlId}}</td>
							<td>{{data.mdlNm}}</td>
							<td>{{data.showSeqno}}</td>
							<td>{{data.suprMdlId}}</td>
							<td>{{data.crtUserId}}</td>
							<td>{{data.crtTime |  date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td>{{data.modfUserId}}</td>
							<td>{{data.modfTime |  date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td>
							<button type="button" class="btn btn-success" ng-click="vm.deleteData(data)">删除</button>
							<button type="button" class="btn btn-success" ng-click="vm.updateData(data)">编辑</button>
							</td>
						</tr>
					</tbody>
				</table>
				<table id="warn" class="table table-striped table-bordered table-hover dataTable no-footer" style="display:none">
					<tbody>
						<tr>
							<td colspan="8"><center style="color:red">未查询到数据</center>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="dt-toolbar-footer">
					<div class="row">
						<div class="col-sm-2 col-xs-12 hidden-xs">
							<div class="dataTables_length pull-left">
								<select name="dt_basic_length" aria-controls="dt_basic"
									class="form-control" ng-change="vm.pageNumHandler(vm.pageSize)"
									ng-model="vm.pageSize">
									<option value="10">10</option>
									<option value="25">25</option>
									<option value="50">50</option>
									<option value="100">100</option>
								</select>
							</div>
						</div>
						<div class="col-sm-10 col-xs-12 text-right">
							<div class="dataTables_paginate">
								<div ng-pagination="vm.paginationHandler"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</div>
