<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false">
    <header>
        <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
        <h2> 用户信息 </h2>
    </header>
    <div>
        <!-- widget content -->
        <div class="widget-body">
            <form name="userExampleForm" ng-submit="vm.saveOrUpdate()" novalidate>
                <fieldset>
                    <div class="form-group" ng-class="vm.formValidator.getValidationClass(userExampleForm.username)">
                        <label> 用户名 </label>
                        <input class="form-control" placeholder="用户名" name="username" type="text" ng-model="vm.user.username" required>
                        <p class="help-block" ng-show="vm.formValidator.isValidatedOf(userExampleForm.username , 'required')">必填</p>
                    </div>
                    <div class="form-group">
                        <label>密码</label>
                        <input class="form-control" placeholder="密码" type="password" name="password" ng-model="vm.user.password">
                    </div>
                    <div class="form-group">
                        <label>昵称</label>
                        <input class="form-control" placeholder="昵称" type="password" name="nikename" ng-model="vm.user.nikename">
                    </div>

                </fieldset>
                <div class="form-actions">

                    <button class="btn btn-primary" type="submit" ng-disabled="userExampleForm.$invalid">  保存 </button>
                    <button class="btn btn-default" type="button" ng-click="vm.returnList()"> 返回 </button>
                </div>
            </form>
        </div>
    </div>
</div>
